Zenworks/Connected Services/Bundle/managed-devices-quicktasks1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:quicktasks="http://novell.com/zenworks/datamodel/objects/quicktasks" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://novell.com/zenworks/datamodel/objects/quicktasks" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="QuickTask" type="quicktasks:QuickTask" />
  <xsd:complexType name="QuickTask">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="UID" type="xsd:string" />
      <xsd:element minOccurs="0" name="Created" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="Expiry" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="ExpiryOption" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdminUID" type="xsd:string" />
      <xsd:element minOccurs="0" name="SessionID" type="xsd:string" />
      <xsd:element minOccurs="0" name="ServerUID" type="xsd:string" />
      <xsd:element minOccurs="0" name="ActionName" type="xsd:string" />
      <xsd:element minOccurs="0" name="DisplayName" type="xsd:string" />
      <xsd:element minOccurs="0" name="ActionType" type="xsd:string" />
      <xsd:element minOccurs="1" default="0" name="RandomizeTime" type="xsd:int" />
      <xsd:element minOccurs="0" name="ActionDataString" type="xsd:string" />
      <xsd:element name="ActionContinue" type="xsd:boolean" />
      <xsd:element name="QuicktaskOptionsFlag" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="QuickTaskStatus" type="xsd:string" />
      <xsd:element minOccurs="0" name="ServerOptionString" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="QuickTaskServerUIDs" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ActionLinkedObjectIDs" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Assignments" type="quicktasks:QuickTaskAssignment" />
      <xsd:element minOccurs="0" name="ActionProperties" type="xsd:string" />
      <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="QuickTaskAssignment" type="quicktasks:QuickTaskAssignment" />
  <xsd:complexType name="QuickTaskAssignment">
    <xsd:sequence>
      <xsd:element name="Id" type="xsd:long" />
      <xsd:element minOccurs="0" name="DeviceUID" type="xsd:string" />
      <xsd:element minOccurs="0" name="StatusTime" type="xsd:dateTime" />
      <xsd:element name="StatusCode" type="xsd:long" />
      <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>