Zenworks/Connected Services/Credentials/core-addons-credentials.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:credentials="http://novell.com/zenworks/datamodel/objects/credentials" xmlns:objects="http://novell.com/zenworks/datamodel/objects" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://novell.com/zenworks/datamodel/objects/credentials" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="core-objects.xsd" namespace="http://novell.com/zenworks/datamodel/objects" />
  <xsd:element name="ExternalCredential" type="credentials:ExternalCredential" />
  <xsd:complexType name="ExternalCredential">
    <xsd:complexContent mixed="false">
      <xsd:extension base="objects:ZENObject">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="realm" type="xsd:string" />
          <xsd:element minOccurs="0" name="username" type="xsd:string" />
          <xsd:element minOccurs="0" name="password" type="xsd:string" />
          <xsd:element minOccurs="0" name="extraData" type="xsd:string" />
          <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>