Zenworks/Connected Services/Device/core-addons-devices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:objects="http://novell.com/zenworks/datamodel/objects" xmlns:devices="http://novell.com/zenworks/datamodel/objects/devices" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://novell.com/zenworks/datamodel/objects/devices" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="core-objects.xsd" namespace="http://novell.com/zenworks/datamodel/objects" />
  <xsd:element name="Device" type="devices:Device" />
  <xsd:complexType name="Device">
    <xsd:complexContent mixed="false">
      <xsd:extension base="objects:ZENObject">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Platform" type="xsd:string" />
          <xsd:element minOccurs="0" name="Hostname" type="xsd:string" />
          <xsd:element minOccurs="0" name="DNS" type="xsd:string" />
          <xsd:element minOccurs="0" name="Password" type="xsd:string" />
          <xsd:element name="Port" type="xsd:int" />
          <xsd:element minOccurs="0" name="AddedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="LastContact" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="LastFullRefresh" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="RegistrationKeys" type="xsd:string" />
          <xsd:element minOccurs="0" name="OSName" type="xsd:string" />
          <xsd:element minOccurs="0" name="OSId" type="xsd:string" />
          <xsd:element minOccurs="0" name="PrimaryUser" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="LoggedOnUsers" type="xsd:string" />
          <xsd:element minOccurs="0" name="Owner" type="xsd:string" />
          <xsd:element minOccurs="0" name="Language" type="xsd:string" />
          <xsd:element minOccurs="0" name="Site" type="xsd:string" />
          <xsd:element minOccurs="0" name="Department" type="xsd:string" />
          <xsd:element minOccurs="0" name="Location" type="xsd:string" />
          <xsd:element minOccurs="0" name="SerialNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="LastInventoryScan" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="ZenAgentVersion" type="xsd:string" />
          <xsd:element minOccurs="0" name="Timezone" type="xsd:string" />
          <xsd:element name="PrimaryUserCalculated" type="xsd:boolean" />
          <xsd:element name="Lost" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="ManagedFolder" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="NetworkAddresses" type="devices:NetworkAddress" />
          <xsd:element name="Retired" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="RetiredDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="AgentVersion" type="xsd:string" />
          <xsd:element name="IsTest" type="xsd:boolean" />
          <xsd:element name="Eri" type="xsd:boolean" />
          <xsd:element name="Ownership" type="xsd:int" />
          <xsd:element minOccurs="0" name="ZAVVersion" type="xsd:string" />
          <xsd:element name="ZAVOnlyDevice" type="xsd:boolean" />
          <xsd:element name="IsEnrolled" type="xsd:boolean" />
          <xsd:element name="Restricted" type="xsd:boolean" />
          <xsd:element name="HasOTAIdentity" type="xsd:boolean" />
          <xsd:element name="HasMDMIdentity" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="DeviceStatus" type="xsd:string" />
          <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DeviceGroup" type="devices:DeviceGroup" />
  <xsd:complexType name="DeviceGroup">
    <xsd:complexContent mixed="false">
      <xsd:extension base="objects:ZENObject">
        <xsd:sequence>
          <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="FullQueryGroupLog" type="devices:FullQueryGroupLog" />
  <xsd:complexType name="FullQueryGroupLog">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Log" type="devices:QueryGroupLog" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="AddedEntries" type="devices:QueryGroupLogEntry" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="RemovedEntries" type="devices:QueryGroupLogEntry" />
      <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="NetworkAddress" type="devices:NetworkAddress" />
  <xsd:complexType name="NetworkAddress">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="xsd:string" />
      <xsd:element minOccurs="0" name="IPAddress" type="xsd:string" />
      <xsd:element minOccurs="0" name="SubnetMask" type="xsd:string" />
      <xsd:element minOccurs="0" name="MacAddress" type="xsd:string" />
      <xsd:element name="AutoDetected" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="DNS" type="xsd:string" />
      <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OSTarget" type="devices:OSTarget" />
  <xsd:complexType name="OSTarget">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="xsd:string" />
      <xsd:element minOccurs="0" name="Name" type="xsd:string" />
      <xsd:element minOccurs="0" name="ProductName" type="xsd:string" />
      <xsd:element minOccurs="0" name="Platform" type="xsd:string" />
      <xsd:element minOccurs="0" name="Architecture" type="xsd:string" />
      <xsd:element minOccurs="0" name="Vendor" type="xsd:string" />
      <xsd:element minOccurs="0" name="Version" type="xsd:string" />
      <xsd:element minOccurs="0" name="SupportPack" type="xsd:string" />
      <xsd:element minOccurs="0" name="PackageManager" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryRole" type="xsd:string" />
      <xsd:element minOccurs="0" name="Detect" type="xsd:string" />
      <xsd:element name="UserDefined" type="xsd:boolean" />
      <xsd:element name="Enabled" type="xsd:boolean" />
      <xsd:element name="Ordering" type="xsd:int" />
      <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="QueryGroup" type="devices:QueryGroup" />
  <xsd:complexType name="QueryGroup">
    <xsd:complexContent mixed="false">
      <xsd:extension base="objects:ZENObject">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="LogHistoryCount" type="xsd:int" />
          <xsd:element minOccurs="0" name="Filter" type="objects:FilterSetList" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="QGContextIDs" type="xsd:string" />
          <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="QueryGroupLog" type="devices:QueryGroupLog" />
  <xsd:complexType name="QueryGroupLog">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="xsd:string" />
      <xsd:element minOccurs="0" name="GroupUID" type="xsd:string" />
      <xsd:element minOccurs="0" name="CalculationDate" type="xsd:dateTime" />
      <xsd:element name="Iteration" type="xsd:long" />
      <xsd:element name="AddedCount" type="xsd:long" />
      <xsd:element name="RemovedCount" type="xsd:long" />
      <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="QueryGroupLogEntry" type="devices:QueryGroupLogEntry" />
  <xsd:complexType name="QueryGroupLogEntry">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="xsd:string" />
      <xsd:element minOccurs="0" name="LogId" type="xsd:string" />
      <xsd:element minOccurs="0" name="DeviceUID" type="xsd:string" />
      <xsd:element name="Added" type="xsd:boolean" />
      <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DeletedDevice" type="devices:DeletedDevice" />
  <xsd:complexType name="DeletedDevice">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="UID" type="xsd:string" />
      <xsd:element minOccurs="0" name="Deleted" type="xsd:dateTime" />
      <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PingToken" type="devices:PingToken" />
  <xsd:complexType name="PingToken">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="UID" type="xsd:string" />
      <xsd:element minOccurs="0" name="Token" type="xsd:string" />
      <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ComponentDetails" type="devices:ComponentDetails" />
  <xsd:complexType name="ComponentDetails">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="UID" type="xsd:string" />
      <xsd:element minOccurs="0" name="DeviceUID" type="xsd:string" />
      <xsd:element minOccurs="0" name="ComponentString" type="xsd:string" />
      <xsd:element minOccurs="0" name="FetchDate" type="xsd:dateTime" />
      <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeviceBasicInfo">
    <xsd:sequence>
      <xsd:element name="DeviceUID" type="xsd:string" />
      <xsd:element name="DeviceName" type="xsd:string" />
      <xsd:element name="DeviceType" type="xsd:string" />
      <xsd:element name="OSName" type="xsd:string" />
      <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DeviceBasicInfo" type="devices:DeviceBasicInfo" />
  <xsd:complexType name="DeviceBasicInfos">
    <xsd:sequence>
      <xsd:element name="devicesCount" type="xsd:int" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="devicesInfo" type="devices:DeviceBasicInfo" />
      <xsd:element name="ErrorCode" type="xsd:int" />
      <xsd:element name="ErrorMessage" type="xsd:string" />
      <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DeviceBasicInfos" type="devices:DeviceBasicInfos" />
</xsd:schema>